*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #212121;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 100%;
}

.container {
  background-color: #f0f0f0;
  width: 100%;
  min-width: 22em;
}

img {
  max-width: 100%;
}

/* heading text */
h1 {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.6;
}

h2 {
  font-size: .875em;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-size: .875em;
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  color: #757575;
  font-size: .875em;
  font-weight: 500;
  line-height: 2;
}

h5 {
  font-size: .75em;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  color: #757575;
  font-size: .75em;
  font-weight: 500;
  line-height: 1.2;
}

/* app contents below this line */

/* Toolbar */
nav {
  background-color: #1faa00;
  box-shadow: 0 .3em .8em rgba(0, 0, 0, .25);
  padding: 1.1em 4%;
  position: fixed;
  width: 100%;
  min-width: 22em;
  z-index: 2;
}

.back-arrow {
  display: inline-block;
  float: left;
  margin: .4em 0 0 2%;
  width: 1em;
}

.page-title {
  display: inline-block;
  overflow: hidden;
  padding: 0 1em;
  margin-left: 5%;
  white-space: nowrap;
  width: 75%;
}

.page-title h1 {
  color: #ffffff;
}

.dropdown {
  display: inline-block;
  float: right;
  margin-top: .4em;
  width: 1.1em;
}

/* Sheet contents */

/* sections - position and decoration*/
.current-route{
  background-color: #f8f8f8;
  box-shadow: 0 .3em .8em rgba(0, 0, 0, .25);
  display: block;
  padding-top: 3.9em;
}

.alternate-routes,
.other-routes,
.out-of-service {
  background-color: #f8f8f8;
  box-shadow: 0 .3em .8em rgba(0, 0, 0, .25);
  display: block;
  margin-top: 1em;
}

.section-title {
  padding: 1em 5% 1em 5%;
}

/* bus info */
.bus-line {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  padding: 2.5% 0 2.5% 0;
  width: 100%;
}

.bus-line:hover {
  background-color: #bababa;
}

.bus-time {
  display: inline-block;
  margin-left: 5%;
  width: 15%;
}

#resumes h3 {
  color: #757575;
  line-height: 1.2;
}

/* center content */
.content {
  display: inline-block;
  margin: 0 3%;
  width: 60%;
}

.busline-visual {
  display: inline-block;
}

.bus-icon {
  display: inline-block;
  margin-right: .25em;
  position: relative;
  top: .2em;
  width: 1em;
  z-index: 1;
}

.bus-rectangle {
  background-color: #ff8f35;
  border-radius: 5px;
  display: inline-block;
  margin-right: .75em;
  padding: .1em .25em;
}

.bus-rectangle h3 {
  line-height: normal;
}

.direction {
  border: 1px solid #212121;
  border-radius: .5em;
  display: inline-block;
  padding: 0 .25em;
}

.alternate-routes .bus-rectangle {
  background-color: #ab47bc;
}

.other-routes .bus-rectangle,
.out-of-service .bus-rectangle {
  background-color: #6e94a5;
}

.bus-rectangle h3 {
  color: #ffffff;
}
/*end of center content */

.checkbox {
  float: right;
  margin: 1em 5.5% 0 0%;
  max-width: 13%;
  z-index: 1;
}

.checkbox img {
  width: 1.2em;
}

@media screen and (min-width: 39em) {
  body {
    background-image: url("https://wai-ling-ye.github.io/frontend-challenge/images/map.jpg");
    background-attachment: fixed;
  }

  .container {
    max-width: 30%;
    min-width: 22em;
  }

  nav {
    padding: 1.1em 1%;
    max-width: 30%;
    min-width: 22em;
  }
}

@media screen and (min-height: 61em) {
  .container {
    height: 100%;
    overflow: hidden;
  }

  .out-of-service {
    height: 100%;
  }
}
